# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml
*.iws

# Secrets
.env

# OS
.DS_Store
Thumbs.db

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# Web
web/build/
